NODE_ENV=development
PORT=3001
BACKEND_BASE_URL=http://localhost:3001
FRONTEND_BASE_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=localhost
DB_PORT=3306
STORAGE_PATH=
OTEL_SERVICE_NAME=sheet-stream-backend
OTEL_EXPORTER_OTLP_ENDPOINT=
